<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>Mock RESTful API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BootstrapのCSS読み込み -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body>
    <h1>Mock RESTful API</h1>
    {% block body %}{% endblock %}
</body>
</html>