<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>Mock RESTful API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BootstrapのCSS読み込み -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript">
    $(function(){
        $('#run').click(function() {
            if (!confirm("実行します。よろしいですか？")) {
                return;
            }
            
            $("#output_result").html('')
            $('button').addClass('disabled');
            var lastResLength = 0;
            var timer = null;

            var ajaxReq = $.ajax({
                type: 'GET',
                url: '/streamtest',
                data: '',
                dataType: 'text/html',
                processData: false,
                xhrFields: {
                    onloadstart: function() {
                        var xhr = this;
                        var resTextLength = 0
                        timer = setInterval(function() {
                            var textData = xhr.responseText;
                            var newTextData = textData.substring(resTextLength);

                            if (textData.length > resTextLength) {
                                newTextData.split("\n").forEach(function(element) {
                                    $("#output_result").html($("#output_result").html() + element);
                                    resTextLength = textData.length;
                                    var obj = document.getElementById('output_result');
                                    obj.scrollTop = obj.scrollHeight;
                                }, 100);
                            }
                        })
                    },
                    success: function() {
                        setTimeout(() => {
                            clearInterval(timer);
                        }, 1000);
                    },
                    error: function() {
                        clearInterval(timer);
                    }
                }
            });
            $('button').removeClass('disabled');
        });
    });
    </script>
</head>
<body>
    <h1>Mock RESTful API</h1>
    {% block body %}{% endblock %}
</body>
</html>